* {
    margin: 0;
    padding: 0;
    left: 265%;    
    font-family: Brush Script MT, Cursive;
}

html body {
    margin-top: 12%;
}

.str_container_notifications {
    width: 15%;
    margin: 2vh auto 0 auto;
}

:root {
    --color-black: #292929;
    --color-red: #0080ff;
    --color-white: #F4F5F5;
}

.str_notification {
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color-white);
    border-radius: 0 0 .7rem .7rem;
    margin: 1vh 0;
    position: relative;
    overflow: hidden;
    transition: all .7s ease-in-out;
}

.str_notification_destroy {
    opacity: 0;
    transform: translateY(-50%);
}
  
.str_notification_progress {
    bottom: 0;
    left: 0;
    background-color: var(--color-red);
    width: 100%;
    height: .5rem;
    position: absolute;
    animation: notification_duration 3s;
}

@keyframes notification_duration {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}